## Don't want exe and intermediate files to be pushed to git because they are quite heavy.
/engine/bin
/engine/obj
/app/bin
/app/obj
/engine.Test/obj
/engine.Test/bin
/app.Test/obj
/app.Test/bin
/bin
/obj
.DS_Store

## Don't commit user settings.
/.vs
/.vscode
.fake
.idea
